* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #adb5c0;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 76px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    
}

form input {
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #69859b;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 8px 0;
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


